<div class="container">
  <div class="row" id="rowHomePage">
    <div  id="colHomePage">
        <% if @user.picture.nil? %>
          <%= image_tag "default-pp.jpg", class: "img-circle img-small", id:"profilepic_profilepage",width: "10%",height: "10%"%>
        <% else %>
          <%= image_tag @user.picture, class: "img-circle img-small", id:"profilepic_profilepage",width: "10%",height: "10%"%>
        <% end %>
        <br/><br/>
        <h4><strong> Name: </strong><%= @user.first_name%> <%=@user.last_name%></h4>
        <h4><strong> Phone number: </strong><%= @user.phone_number%></h4>
        <h4><strong> Email: </strong><%= @user.email %></h4>
          <% if  @user == current_user %>
            <h4><%= link_to "Edit-account" ,edit_user_registration_path, class: "glyphicon glyphicon-pencil" %>&nbsp&nbsp&nbsp
            <%= link_to "Delete-account" ,user_path,method: :delete, class: "glyphicon glyphicon-trash",data: {confirm: "Are you sure?"} %></h4>
          <% end %>
          <hr>
          <%if @user == current_user%>
            <% if @posts.blank? %>
            <%else%>
            <h2>Your booked flat's:</h2><hr>
              <%@posts.each do |post|%>
                <h4><u><%= link_to post.title.capitalize, user_post_path(post.user_id,post.id)%></u> at <%= post.address %></h4>
                  <hr>
                <%end%>
            <%end%>
          <%end%>
    </div> <!-- end columns -->
  </div><!-- end row -->
</div><!-- end container -->

