<div class="container">
	<div class="row" id="rowHomePage">
		<div  id="postsindex">
      <div id="listing-form">
			<h1>Here are your Posts:</h1><hr>
      <% if @posts != [] %>
			<% @posts.each do |post| %>
				<h3><%= link_to "" ,user_post_path(current_user.id,post.id), method: :delete, class: "glyphicon glyphicon-trash",data: {confirm: "Are you sure?"} %>
				&nbsp
				<%= link_to "" ,edit_user_post_path(current_user.id,post.id), class: "glyphicon glyphicon-pencil" %>
				&nbsp&nbsp
				<%= link_to post.title, user_post_path(current_user.id,post.id)%> : <%= post.address %>.
				</h3>
			<% end %>
      <% else %>
      <h3> You Have no posts </h3>
       Press Add listing to create one
      <% end %>

			<hr><br>
      </div>

			<h3 id="listting-button"><%= link_to "Add Listing",  new_user_post_path ,class: "btn btn-primary btn-lg"%></h3>

		</div>
	</div>
</div>

