<!DOCTYPE html>
<html>
<head>
  <title>le-Wagon-airbnb</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render "shared/navbar" %>

<div class="container">
  <%if notice != nil %>
    <p class="alert alert-success" id="notice"><a class="close" data-dismiss="alert">×</a><%= notice %></p>
  <% end %>
  <%if alert != nil %>
    <p class="alert alert-danger alert-sm" id="alert"><a class="close" data-dismiss="alert">×</a><%= alert %></p>
  <% end %>
  <%= yield %>
</div>
</body>
</html>
